<p-growl [value]="msgs" sticky="sticky"></p-growl>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Team Member Detail">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    FirstName *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="firstName" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstName'].valid&&userform.controls['firstName'].dirty">
                        <i class="fa fa-close"></i> FirstName is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Middle Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="middleName" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['middleName'].valid&&userform.controls['middleName'].dirty">
                        <i class="fa fa-close"></i> Middle Name is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Last Name *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="lastName" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastName'].valid&&userform.controls['lastName'].dirty">
                        <i class="fa fa-close"></i> Last Name is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Email *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="EmailAddress" placeholder="Required" />
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['EmailAddress'].valid&&userform.controls['EmailAddress'].dirty">
                        <i class="fa fa-close"></i> Email is required
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Save" [disabled]="!userform.valid"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </p-panel>
</form>

<p-dataTable #ex [value]="teamMembers" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSort($event)" resizableColumns="true" [globalFilter]="gb" reorderableColumns="true"
    [responsive]="true" exportFilename="teamMembers">
    <p-header>
        List of Available Team Members
        <div class="ui-helper-clearfix">
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="ex.exportCSV()" style="float:left"></button>
        </div>

    </p-header>
    <p-column field="firstName" header="FirstName" [sortable]="true" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
    <p-column field="middleName" header="MiddleName" [sortable]="true" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
    <p-column field="lastName" header="LastName" [sortable]="true" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
    <p-column field="EmailAddress" header="EmailAddress" [sortable]="true" [filter]="true" filterPlaceholder="Search" [editable]="true"></p-column>
    <p-column field="action" header="Action">
        <ng-template let-teamMember="rowData" pTemplate="body">
            <button type="button" pButton (click)="editTeamMember(teamMember)" icon="fa fa-pencil"></button>
            <button type="button" pButton (click)="deleteTeamMember(teamMember)" icon="fa fa-trash"></button>
            <!-- <button type="button" pButton (click)="detailTeamMember(teamMember)" icon="fa fa-eye "></button> -->
        </ng-template>
    </p-column>
</p-dataTable>